/* login.css */
.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; /* Chiếm toàn bộ chiều cao màn hình */
  background-color: #f3f3f3; /* Màu nền cho phần login */
}

/* Container cho trang đăng nhập */

/* Form đăng nhập */
.login-form {
  background-color: white;
  width: 500px; /* Kích thước cố định cho chiều rộng */
  height: 500px; /* Kích thước cố định cho chiều cao */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Canh giữa nội dung theo chiều dọc */
}

/* Tiêu đề */
.login-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Input fields */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Đảm bảo kích thước của ô input không bị thay đổi khi thêm padding */
}

/* Nút đăng nhập */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Hiệu ứng hover cho nút đăng nhập */
button[type="submit"]:hover {
  background-color: #45a049;
}

/* Thông báo lỗi */
.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* Nút chuyển sang đăng ký */
button[type="button"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px; /* Tăng kích thước chữ */
  cursor: pointer;
  width: 100%; /* Chiều rộng bằng 100% để nút có cùng chiều rộng với nút đăng nhập */
  box-sizing: border-box; /* Đảm bảo kích thước không bị lệch khi thêm padding */
}

button[type="button"]:hover {
  background-color: #0056b3;
}
